___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

 
 
Now let's start with some basic arithmetic.

### Basic Arithmetic

In [2]:
# Addition - integers
2+1

3

In [3]:
# Addition - floating and integer numbers
2.0+1

3.0

In [5]:
# Addition - floating numbers
2.1+4.5

6.6

In [3]:
# Subtraction - integers
2-1

1

In [6]:
# Subtraction - floating and integer numbers
2-1.0

1.0

In [7]:
# Subtraction - floating numbers
2.5-1.1

1.4

In [4]:
# Multiplication - integers
2*2

4

In [8]:
# Multiplication - floating and integer numbers
2.0*2

4.0

In [10]:
# Multiplication - floating numbers
2.5*1.5

3.75

In [11]:
# Division - integers
4/2

2.0

In [12]:
# Division - floating and integer numbers
4.0/2

2.0

In [13]:
# Division - floating numbers
4.2/1.1

3.818181818181818

In [14]:
# Floor Division
4//2

2

In [17]:
# Floor Division
7//4

1

**Whoa! What just happened? Last time I checked, 7 divided by 4 equals 1.75 not 1!**

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

In [18]:
# Division
7/4

1.75

In [19]:
# Floor Division - floating number and integer
7.0//4

1.0

In [20]:
# Floor Division - floating numbers
4.2//1.1

3.0

**So what if we just want the remainder after division?**

In [6]:
# Modulo - integers
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

In [21]:
# Modulo - floating and integer numbers
7.0%4

3.0

In [28]:
# Modulo - floating numbers
2.0%1.0

0.0

### Arithmetic continued

In [7]:
# Powers - integers
2**3 # 2^3

8

In [1]:
# Powers - floating number and integer
9.0**3 #

729.0

In [35]:
# Powers - floating numbers
3.0**3.0

27.0

In [8]:
# Can also do roots this way
4**0.5

2.0

In [9]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [10]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

# Exercises

1. What is the difference between a floating number and an integer?
2. Which operator would you use to check whether a number is even or odd?
3. What is the difference between / and //?

# Variable Assignment

## Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [8]:
my_dogs = 2

In [9]:
print(my_dogs)

2

In [10]:
my_dogs = ['Sammy', 'Frankie']

In [11]:
my_dogs

['Sammy', 'Frankie']

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

In [12]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [13]:
a

5

Now if I call *a* in my Python script, Python will treat it as the number 5.

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [48]:
type(a)

int

In [14]:
#change the type
a = float (a)
type(a)
print(a)

5.0

In [21]:
a = 5
type(a)
print(a)

5

In [66]:
# Adding the objects
a+a

10

What happens on reassignment? Will Python let us write it over?

In [22]:
# Reassignment
a = 10

In [23]:
# Check
a

10

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [24]:
# Check
a

10

In [25]:
# Use A to redefine A
a = a + a

In [26]:
# Check 
a

20

In [56]:
# Instead of writing 
a = a + 10
# We can type
a += 10
# Which is going to give us the same result

## Naming convention in Python

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [27]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [28]:
# Show my taxes!
my_taxes

10.0

# Questions

1. Create a variable x and assign value 100 to it.
2. Calculate the sum of 20 + 30 using variables x and y. Save the value into a variable called sum.
3. What characters have to be removed from 2my-first_name to make it a correct variable name.
4. Which one of the following is a correct variable name:\
    a) my_name2\
    b) my$name\
    c) 2my_name
5. What is the value of variable x.\
    x = 5\
    y = 10\
    x = x + y\
    x = x + y

In [ ]:
x = 5
y = 10
x = x + y # 5+10=15
x = x + y #15+10=25

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

Up next we'll learn about Strings!

# Any questions???